<!DOCTYPE html>

<html lang="en">

<!-- Header -->
<head>
<title>About Me</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<!-- Style information -->
<style>
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
.bgimg 
{
background-position: center;
background-repeat: no-repeat;
background-image: url('https://pbs.twimg.com/profile_images/1311526136132907008/HnTylbjG_400x400.jpg');
background-size: cover;
min-height: 100%;
}
</style>

<body>

<!-- This is required to insert a picture on the left side of the page -->
<nav class="w3-sidebar w3-hide-medium w3-hide-small" style="width:40%">
    <div class="bgimg"></div>
</nav>

<!-- Page Content -->
<div class="w3-main w3-padding-large" style="margin-left:40%">

<!-- Header -->
<header class="w3-container w3-center" style="padding:128px 16px" id="home">
    <h1 class="w3-jumbo"><strong>Jonathan Vose</strong></h1>
    <p>About Me</p>
</header>

<!-- Favorite things section -->
<div class="w3-padding-32 w3-content" id="portfolio">
    <h2 class="w3-text-grey">My Favorite Things</h2>
    <hr class="w3-opacity">

    <!-- Grid for photos -->
    <div class="w3-row-padding" style="margin:0 -16px">
    <div class="w3-half">
        <img src="https://m.media-amazon.com/images/I/A1S3UYUELZL._SS500_.jpg" alt="image" style="width:100%">
        <img src="https://images.genius.com/cf1325b26e2b5e4cc70a317234d93565.1000x1000x1.jpg" alt="image" style="width:100%">
        <img src="https://www.humanesociety.org/sites/default/files/styles/1240x698/public/2018/08/kitten-440379.jpg?h=c8d00152&itok=1fdekAh2" alt="image" style="width:100%">
        <img src="https://cdn11.bigcommerce.com/s-8wy6p2/images/stencil/1500x1000/uploaded_images/article.png?t=1575561837" alt="image" style="width:100%">
    </div>

    <div class="w3-half"> 
        <img src="https://images-na.ssl-images-amazon.com/images/I/51rf5f8xcWL.jpg" alt="image" style="width:100%">
        <img src="https://akns-images.eonline.com/eol_images/Entire_Site/20201012/rs_634x793-201112065724-634-American-Horror-Stories-LT-111220-FX.jpg?fit=around%7C634:auto&output-quality=90&crop=634:auto;center,top" alt="image" style="width:100%">
        <img src="https://d1ymz67w5raq8g.cloudfront.net/Pictures/1024x536/4/1/6/17416_3organicchemistrybackground_619603.jpg" alt="image" style="width:100%">
    </div>
    </div>
</div>

<!-- About Section -->
<div class="w3-content w3-justify w3-text-grey w3-padding-32" id="about">
    <h2>About</h2>
    <hr class="w3-opacity">
    <p>
        My name is Jonathan Vose and I am a senior at Marist College and a member of the Honors Program. Additionally, I am a Biochemistry major (Chemistry major with a concentration in Biochemistry).
        I will be applying to Chemistry/Biochemistry Ph.D. programs this application cycle. After obtaining my Ph.D., I want to work in the pharmecutical industry, where I will work on the development of novel therapeutics.
        I was born in Philadelphia and raised in Allentown Pennsylvania. My family is relatively small (just me, my brother, and my mom). However, we have two pets. 
        My cat's name is Christmas, and our dog's name is KD. My cat is without a doubt my favorite. 
        Fun fact: my brother is almost exactly one year younger than me and goes to Temple University. 
        Even though we are only a year apart, we are completely differnet people.
        I absolutely love music and have been playing the piano since I was in middle school. Although, I don't play as much now. 
        However, my interest in music led me to join my high school's theater program. I was actively involved in my schools theater program for almost four years, where I worked behind the scenes (I am a horrible singer). 
        Aside from music, I love snowboarding, swimming, and traveling.

<!-- Skills Section -->
    </p>
    <h3 class="w3-padding-16">My Skills</h3>
    <p class="w3-wide">Chemistry</p>
    <div class="w3-light-grey">
    <div class="w3-container w3-center w3-padding-small w3-dark-grey" style="width:95%">95%</div>
    </div>
    <p class="w3-wide">Python</p>
    <div class="w3-light-grey">
    <div class="w3-container w3-center w3-padding-small w3-dark-grey" style="width:80%">80%</div>
    </div>
    <p class="w3-wide">Piano</p>
    <div class="w3-light-grey">
    <div class="w3-container w3-center w3-padding-small w3-dark-grey" style="width:85%">85%</div>
    </div><br>

    <div class="w3-row w3-center w3-dark-grey w3-padding-16 w3-section">
    <div class="w3-quarter w3-section">
        <span class="w3-xlarge">22</span><br>
        Age
    </div>
    <div class="w3-quarter w3-section">
        <span class="w3-xlarge">5'11"</span><br>
        Height
    </div>
    <div class="w3-quarter w3-section">
        <span class="w3-xlarge">7</span><br>
        Countries Visited
    </div>
    <div class="w3-quarter w3-section">
        <span class="w3-xlarge">38</span><br>
        States Visited
    </div>
    </div>

<!-- Footer -->
<footer class="w3-container w3-padding-32 w3-center">
    <div class="w3-row-padding">
        <div class="w3-third">
            <h3> <a href="{{ url_for('home')}}"  class="w3-bar-item w3-button w3-padding"><em class="fa fa-th-large fa-fw w3-margin-right"></em>Home</a> </h3>
        </div>
        <div class="w3-third">
            <h3><a href="{{ url_for('travel')}}" class="w3-bar-item w3-button w3-padding"><em class="fa fa-user fa-fw w3-margin-right"></em>Travel</a> </h3>
        </div>
        <div class="w3-third">
            <h3><a href="{{ url_for('contact_info')}}"  class="w3-bar-item w3-button w3-padding"><em class="fa fa-envelope fa-fw w3-margin-right"></em>Contact</a></h3>
        </div>
    </div>
</footer>

</div>
</body>
</html>
