<!DOCTYPE html>

<html lang="en">

<head>
<title>About Me</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">

<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", Arial, sans-serif}
</style>

<body class="w3-light-grey">

<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1400px">


<header class="w3-container w3-center w3-padding-32"> 
    <h1><strong>Jonathan Vose</strong></h1>
    <p>~ All about me ~</p>
</header>

<!-- Grid -->
<div class="w3-row">


<div class="w3-col l8 s12">

<div class="w3-card-4 w3-margin w3-white">
    <div class="w3-container">
        <h3><strong>Background</strong></h3>
    </div>
    <div class="w3-container">
        <p>
            I was born in Philadelphia and raised in Allentown Pennsylvania. My family is relatively small (just me, my brother, and my mom). However, we have two pets. 
            My cat's name is Christmas, and our dog's name is KD. My cat is without a doubt my favorite. 
            Fun fact: my brother is almost exactly one year younger than me and goes to Temple University. 
            Even though we are only a year apart, we are completely differnet people.

            I absolutely love music and have been playing the piano since I was in middle school. Although, I don't play as much now. 
            However, my interest in music led me to join my high school's theater program. I was actively involved in my schools theater program for almost four years, where I worked behind the scenes (I am a horrible singer). 
            Aside from music, I love snowboarding, swimming, and traveling.
        </p>
    </div>
</div>

<hr>

<div class="w3-card-4 w3-margin w3-white">
    <div class="w3-container">
        <h3><strong>Research</strong></h3>
    </div>
    <div class="w3-container">
        <p>
            During the summer of my Junior year I obtained my first research internship at Marist College.
            My internship with Dr. Fitzgerald focused on the analysis of volatile organic compounds produced during the malting of barley with a portable GCMS to determine if volatile compounds can be used for the early detection of barley contaminated with Fusarium Graminearum.
            My Research with Dr. Fitzgerald led to my first publication in the Journal of the American Society of Brewing Chemists this year.
            Currently, I am working with Dr. Checchi to explore the underlying regulatory mechanisms that control chromatin dynamics. The primary focus of the Checchi group is to prevent the mutation of chromosomes that could potentially be transmitted to offspring using Caenorhabditis elegans as a model.
            Within the Checchi group, my project is focused on the determination of whether or not the absence of MET-2 modulates the localization of LET-418 in response to the damage of DNA. 
        </p>
    </div>
</div>

<hr>

<div class="w3-card-4 w3-margin w3-white">
    <div class="w3-container">
        <h3><strong>Quick Facts</strong></h3>
    </div>
    <div class="w3-container">
        <p>
            I am 22 years old<br>
            I am 5'11"<br>
            I have brown eyes<br>
            I have traveled to 6 countries<br>
            I work for the office of Admission at Marist<br>
            I won the Marist College ACS analytical chemistry award<br>
            I was a bartender for a year<br>
            I have no idea what I am doing!<br>
        </p>
    </div>
</div>

<hr> 

</div>

<!-- Introduction menu -->
<div class="w3-col l4">
<!-- About Card -->
    <div class="w3-card w3-margin w3-margin-top">
        <!-- image -->
    <div class="w3-container w3-white">
        <h4><strong>Basic Information</strong></h4>
        <p>
            I am a senior at Marist College and a member of the Honors Program. Additionally, I am a Biochemistry major (Chemistry major with a concentration in Biochemistry).
            I will be applying to Chemistry/Biochemistry Ph.D. programs this application cycle. After obtaining my Ph.D., I want to work in the pharmecutical industry, where I will work on the development of novel therapeutics.
        </p>
    </div>
</div>

<hr>

<!-- Posts -->
<div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
        <h4><strong>Favorites</strong></h4>
    </div>
    <ul class="w3-ul w3-hoverable w3-white">
        <li class="w3-padding-16">
        <span class="w3-large">Musician</span><br>
        <span>Mindchatter</span>
        </li>
        <li class="w3-padding-16 w3-hide-medium w3-hide-small">
        <span class="w3-large">Song</span><br>
        <span>Woo! By: Remi Wolf</span>
        </li>
        <li class="w3-padding-16">
        <span class="w3-large">Food</span><br>
        <span>Sushi</span>
        </li> 
        <li class="w3-padding-16">
        <span class="w3-large">Book</span><br>
        <span>The Bluest Eyey</span>
        </li>   
        <li class="w3-padding-16 w3-hide-medium w3-hide-small">
        <span class="w3-large">TV Show</span><br>
        <span>American Horror Story</span>
        </li> 
        <li class="w3-padding-16 w3-hide-medium w3-hide-small">
        <span class="w3-large">Destination</span><br>
        <span>Paris, France</span>
        </li>
        <li class="w3-padding-16 w3-hide-medium w3-hide-small">
        <span class="w3-large">Class</span><br>
        <span>Organic Chemistry</span>
        </li>
        </ul>
</div>

<hr> 


<!-- END Introduction Menu -->
</div>

<!-- END GRID -->
</div><br>

<!-- END w3-content -->
</div>


</body>
</html>
