<div class = "w3-content" style = "max-width:1500px">
    <header class = "w3-panel w3-center w3-opacity w3-animate-top" style="padding:180px 16px"> 
        <h1><strong>Jonathan Vose</strong></h1>
    <div class= "w3-padding-32">
        <div class="w3-bar w3-border">
            <a href = "{{ url_for('about_me')}}" class = "w3-bar-item w3-button">About Me</a>
            <a href = "{{ url_for('travel')}}" class = "w3-bar-item w3-button w3-light-grey">Travel</a>
            <a href = "{{ url_for('cv')}}" class = "w3-bar-item w3-button">Curriculum Vitae</a>
            <a href = "{{ url_for('contact_info')}}" class = "w3-bar-item w3-button w3-light-grey">Contact Information</a>
        </div>
    </div>
    </header>
</div>